<form #myForm="ngForm" action="#" method="post" (ngSubmit)="submit(myForm.value)">
  <div>用户名：<input ngModel name="username" type="text"></div>
  <div>手机号：<input ngModel name="mobile" type="number"></div>
  <div ngModelGroup="passwordsGroup">
    <div>密码： <input #passwd="ngModel" ngModel name="pass" type="password"></div>
    <div>确认密码：<input ngModel name="passwd" type="password"></div>
  </div>
  <button type="submit">提交</button>
</form>
<div>
  {{myForm.value | json}}
  {{passwd.value}}
</div>
